@mixin main-style-h3{
    color: $third-color;
    font-family: 'Overpass';
    font-size: 1.5rem;
}


@mixin main-style-h2{
    color: $third-color;
    font-family: 'Overpass';
    font-size: 2rem;
}

@mixin main-style-paragraph{
    color: $fourth-color;
    font-family: 'Overpass';
}

@mixin footer-style-h4{
    color: white;
    font-family: 'Ubuntu';
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: 500
}

@mixin footer-style-menu{
    color: $seventh-color;
    font-family: 'Ubuntu';
    text-decoration: none;
    
}

@mixin hamburger-style-menu{
    font-family: 'Overpass';
    text-decoration: none;
    font-weight: 600;
}
