// Primary
$first-color: hsl(356, 100%, 66%);
$second-color: hsl(355, 100%, 74%);
$third-color: hsl(208, 49%, 24%);
$fourth-color: hsl(207, 13%, 34%);
$fifth-color: hsl(237, 17%, 21%);
$sixth-color: hsl(240, 10%, 16%);
$seventh-color: hsl(240, 2%, 79%);

$gradient-header-color-1: hsl(13, 100%, 72%);
$gradient-header-color-2: hsl(353, 100%, 62%);

$gradient-main-color-1: hsl(237, 17%, 21%);
$gradient-main-color-2: hsl(237, 23%, 32%);




$light-font-color: white;
$top-header-gap: 50px;
$global-side-gap: 0 35px;
$margin-bottom-1: 60px;
$margin-bottom-2: 30px;
$margin-bottom-3: 15px;

