* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 375px;
  margin: auto;
}

header {
  background: url(images/bg-pattern-intro-mobile.svg), linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-radius: 0px 0px 0px 100px;
  background-repeat: no-repeat;
  background-position: 40% 30%;
  height: 600px;
  padding: 0 35px;
  margin-bottom: 60px;
  padding-top: 50px;
}
header .close-icon {
  display: none;
}
header .navbar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div > img {
  cursor: pointer;
}
header div .arrow-light {
  display: none;
}

.menu {
  display: none;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
  background-color: white;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.3);
  width: 305px;
}
.menu div ul li {
  list-style: none;
}
.menu div ul li a {
  font-family: "Overpass";
  text-decoration: none;
  font-weight: 600;
  color: hsl(207, 13%, 34%);
}
.menu .menu-toggle {
  align-items: center;
  display: flex;
}
.menu div > a {
  font-family: "Overpass";
  text-decoration: none;
  font-weight: 600;
  color: hsl(208, 49%, 24%);
}
.menu div > a:focus {
  color: hsl(207, 13%, 34%);
}
.menu div {
  margin-bottom: 20px;
  margin: 25px;
}
.menu div:nth-child(3) {
  border-bottom: 2px solid rgba(168, 168, 168, 0.195);
  padding-bottom: 30px;
}
.menu div:last-child {
  display: flex;
  flex-direction: column;
}
.menu div:last-child a {
  margin: 0px auto;
  width: 130px;
  padding: 15px 0px;
}
.menu div:last-child a:last-child {
  background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%)) !important;
  border-radius: 100px;
  color: white;
}

.productOptions,
.companyOptions,
.connectOptions {
  display: none;
  background-color: rgba(168, 168, 168, 0.195);
  margin: 0 auto;
  width: 260px;
  border-radius: 5px;
}
.productOptions li:first-child,
.productOptions li:first-child,
.productOptions li:first-child,
.companyOptions li:first-child,
.companyOptions li:first-child,
.companyOptions li:first-child,
.connectOptions li:first-child,
.connectOptions li:first-child,
.connectOptions li:first-child {
  padding-top: 20px;
  margin-top: 20px;
}
.productOptions li:last-child,
.productOptions li:last-child,
.productOptions li:last-child,
.companyOptions li:last-child,
.companyOptions li:last-child,
.companyOptions li:last-child,
.connectOptions li:last-child,
.connectOptions li:last-child,
.connectOptions li:last-child {
  padding-bottom: 20px;
}

.menu .productOptions li,
.companyOptions li,
.connectOptions li {
  padding: 10px 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 120px;
  font-family: "Overpass";
}
.header-content div h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 15px;
  font-weight: 600;
}
.header-content div p {
  color: white;
  margin-bottom: 50px;
}
.header-content div a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  padding: 15px 15px;
  font-weight: 600;
  border-radius: 40px;
  font-size: 1rem;
  font-family: "Ubuntu";
  border: 3px solid white;
  width: 140px;
  display: inline-block;
}
.header-content div a:first-child {
  background-color: white;
  color: hsl(356, 100%, 66%);
}
.header-content div a:first-child:active {
  background-color: hsl(355, 100%, 74%);
  color: white;
}
.header-content div a:last-child:active {
  background-color: white;
  color: hsl(355, 100%, 74%);
}

main {
  text-align: center;
}
main .segment .desktop {
  display: none;
}
main section div p {
  color: hsl(207, 13%, 34%);
  font-family: "Overpass";
  line-height: 27px;
}
main section {
  margin-bottom: 60px;
}
main section div {
  margin-bottom: 30px;
}
main .segment-1 {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
main .segment-1 div:nth-child(4) p {
  padding-bottom: 180px;
}
main .segment-1 div:nth-child(2) img {
  margin: 0 auto;
}
main .segment-2 {
  border-radius: 0px 100px 0px 100px;
  padding: 0 35px;
  background: url(images/bg-pattern-circles.svg), linear-gradient(to bottom, hsl(237, 17%, 21%) 50%, hsl(237, 23%, 32%));
  background-color: hsl(237, 23%, 32%);
  background-position-x: 50%;
  background-position-y: -230px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 590px;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 145px;
}
main .segment-2 img {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  top: -180px;
}
main .segment-2 div h2,
main .segment-2 div p {
  color: white;
}
main .segment-2 div h2 {
  margin-bottom: 15px;
}
main .segment-2 div p {
  line-height: 27px;
}
main section div h2 {
  color: hsl(208, 49%, 24%);
  font-family: "Overpass";
  font-size: 2rem;
  margin-bottom: 15px;
}
main .segment-3 img {
  width: 130%;
  margin-bottom: 30px;
}
main .segment-3 div:nth-child(1) {
  align-items: center;
  display: flex;
  width: 100%;
}
main .segment-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main section div h3,
main section h3 {
  color: hsl(208, 49%, 24%);
  font-family: "Overpass";
  font-size: 1.5rem;
  margin-bottom: 15px;
}
main .segment-1 div:nth-child(2),
main .segment-1 div:nth-child(3),
main .segment-3 div {
  margin: 0 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

footer {
  background-color: hsl(240, 10%, 16%);
  border-radius: 0px 100px 0px 0px;
  text-align: center;
  padding-top: 60px;
}
footer a img {
  margin-bottom: 20px;
}
footer div ul li {
  list-style: none;
  margin-bottom: 10px;
}
footer div ul li:last-child {
  margin-bottom: 0;
}
footer div h4 {
  color: white;
  font-family: "Ubuntu";
  margin-bottom: 20px;
  margin-top: 40px;
  font-weight: 500;
}
footer div ul li a {
  color: hsl(240, 2%, 79%);
  font-family: "Ubuntu";
  text-decoration: none;
}
footer div ul li a:active {
  text-decoration: underline;
}

.attribution {
  padding-top: 30px;
  padding-bottom: 30px;
}

.attribution,
.attribution a {
  color: white;
  text-align: center;
  background-color: hsl(240, 10%, 16%);
}

@media only screen and (min-width: 940px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  header {
    background: url(images/bg-pattern-intro-desktop.svg), linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-radius: 0px 0px 0px 100px;
    background-repeat: no-repeat;
    background-position: 21% 55%;
    height: 75vh;
    margin-bottom: 60px;
    padding-top: 0;
    padding: 0 150px;
  }
  .navbar {
    display: flex;
    position: static;
    margin: 0;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
  }
  header .navbar > div {
    display: block;
  }
  .menu div:nth-child(1) > a,
  .menu div:nth-child(2) > a,
  .menu div:nth-child(3) > a,
  .navbar nav div:nth-child(1) img,
  .navbar nav div:nth-child(2) img,
  .navbar nav div:nth-child(3) img,
  .productOptions,
  .companyOptions,
  .connectOptions {
    text-align: center;
    justify-content: center;
    position: relative;
    right: calc(100vw - 1100px);
    padding-left: 35px;
  }
  .navbar nav div:nth-child(1) img,
  .navbar nav div:nth-child(2) img,
  .navbar nav div:nth-child(3) img {
    padding-left: 10px;
    color: white !important;
  }
  .menu div:nth-child(3) {
    border: 0;
  }
  main .segment-1 div:nth-child(2),
  main .segment-1 div:nth-child(3),
  main .segment-3 div {
    margin: 0;
  }
  .menu {
    display: flex;
    background-color: transparent;
    box-shadow: 0 0 0;
    position: static;
    transform: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 620px;
  }
  .menu div > div {
    flex-direction: row;
  }
  .menu div {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .menu div:last-child {
    display: flex;
    flex-direction: row;
  }
  .menu div:last-child a {
    padding: 10px 20px;
  }
  .menu div:last-child a:last-child {
    color: hsl(356, 100%, 66%);
    background: white !important;
  }
  .menu div {
    margin: 0;
    padding: 0 !important;
  }
  .menu div > a {
    color: white;
  }
  .menu div > a:active {
    text-decoration: underline;
  }
  .menu div ul li a {
    font-weight: 500;
  }
  .menu div ul li a:active {
    font-weight: bolder;
    color: black;
  }
  .menu div a img {
    padding-left: 20px;
  }
  .menu div ul li {
    text-align: left;
  }
  .menu .segment-1 div:nth-child(4) p {
    padding: 0px !important;
  }
  .menu div a:focus {
    color: white;
  }
  .menu-toggle {
    display: none;
  }
  .productOptions,
  .companyOptions,
  .connectOptions {
    padding: 20px 20px;
    background-color: white;
    position: absolute;
    width: 150px;
    top: 100px;
  }
  .productOptions li:first-child,
  .productOptions li:first-child,
  .productOptions li:first-child,
  .companyOptions li:first-child,
  .companyOptions li:first-child,
  .companyOptions li:first-child,
  .connectOptions li:first-child,
  .connectOptions li:first-child,
  .connectOptions li:first-child {
    padding-top: 0;
    margin-top: 0;
  }
  .productOptions li:last-child,
  .productOptions li:last-child,
  .productOptions li:last-child,
  .companyOptions li:last-child,
  .companyOptions li:last-child,
  .companyOptions li:last-child,
  .connectOptions li:last-child,
  .connectOptions li:last-child,
  .connectOptions li:last-child {
    padding-bottom: 0;
  }
  .productOptions {
    transform: translateX(-600px);
  }
  .companyOptions {
    transform: translateX(-485px);
  }
  .connectOptions {
    transform: translateX(-360px);
  }
  header div .arrow-dark {
    display: none;
  }
  header div .arrow-light {
    display: block;
  }
  .header-content {
    margin-top: 120px;
  }
  .header-content div h1 {
    font-size: 3.5rem;
  }
  main .segment .desktop {
    display: block;
  }
  main .segment .mobile {
    display: none !important;
  }
  main section div {
    margin-bottom: 0px;
  }
  main section div h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .segment-1 {
    display: grid !important;
    margin-bottom: 200px;
    margin-top: 100px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 350px 350px;
    text-align: left;
    align-items: center;
    grid-template-areas: "heading heading" "paragraph1 img" "paragraph2 img";
  }
  .segment-1 div:nth-child(1) {
    grid-area: heading;
    text-align: center !important;
    width: 100vw;
  }
  .segment-1 div:nth-child(2) {
    grid-area: img;
    right: -8%;
    position: relative;
    margin: 0;
  }
  .segment-1 div:nth-child(2) img {
    width: 130%;
  }
  .segment-1 div:nth-child(1) h3 {
    font-size: 2.5rem;
  }
  .segment-1 div:nth-child(3) {
    grid-area: paragraph1;
    margin-left: 150px !important;
    margin: 0;
  }
  .segment-1 div:nth-child(2) img {
    margin: 0;
  }
  .segment-1 div:nth-child(4) {
    grid-area: paragraph2;
    margin-left: 150px;
  }
  .segment-1 .segment-1 div:nth-child(4) p {
    padding: 0px;
  }
  main .segment-2 {
    background: url(images/bg-pattern-circles.svg), linear-gradient(to right, hsl(237, 17%, 21%) 50%, hsl(237, 23%, 32%));
    background-color: hsl(237, 23%, 32%);
    height: 450px;
    background-position-x: -220px;
    background-position-y: 80%;
    background-size: none;
    background-repeat: no-repeat;
    padding: 0;
    margin-bottom: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 450px;
  }
  main .segment-2 img {
    width: 90%;
    left: 0;
    top: 0;
    position: relative;
    transform: translateX(0);
    align-items: center;
  }
  main .segment-2 div:nth-child(2) {
    text-align: left;
    margin-right: 150px;
    justify-content: center;
    align-items: center;
  }
  main .segment-2 div:nth-child(1) {
    text-align: left;
    margin-left: calc(150px - 6%);
  }
  main .segment-3 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 250px;
    align-items: center;
    text-align: left;
    grid-template-areas: "img paragraph1" "img paragraph2";
    margin-bottom: 300px;
  }
  main .segment-3 div:nth-child(1) {
    grid-area: img;
    left: -22%;
    position: relative;
  }
  main .segment-3 div img {
    margin-bottom: 0;
  }
  main .segment-3 div:nth-child(2) {
    grid-area: paragraph1;
    margin-right: 150px !important;
  }
  main .segment-3 div:nth-child(3) {
    grid-area: paragraph2;
    margin-right: 150px !important;
  }
  footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 70px 150px 70px 150px;
  }
  footer div {
    text-align: left;
  }
  footer div h4 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  footer div ul li {
    margin-bottom: 15px;
  }
  .attribution {
    padding-top: 0;
  }
}/*# sourceMappingURL=style.css.map */