@import "variables";
@import "mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 375px;
    margin: auto;
}
header{
    background: url(images/bg-pattern-intro-mobile.svg), linear-gradient(to bottom, $gradient-header-color-1, $gradient-header-color-2);
    border-radius: 0px 0px 0px 100px;
    background-repeat: no-repeat;
    background-position: 40% 30%;
    height: 600px;
    padding: $global-side-gap;
    margin-bottom: $margin-bottom-1;
    padding-top: $top-header-gap;

    .close-icon{
        display: none;
    }

    .navbar > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div > img {
        cursor: pointer;
    }
    div .arrow-light{
        display: none;
    }
}

.menu{
    display: none;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.3);
    width: 305px;
    div ul li{
        list-style: none;
    }
   
    div ul li a{
        @include hamburger-style-menu;
        color: $fourth-color;
    }


    .menu-toggle {
        align-items: center;
        display: flex;
    }

    div > a{
        @include hamburger-style-menu;
        color: $third-color;

        &:focus{
            color: $fourth-color;
        }
    }
}

.menu div{
    margin-bottom: 20px;
    margin: 25px ;
}

.menu div a img{
    height: 6px;
    margin-left: 4px;
}
.productOptions,
.companyOptions,
.connectOptions{
    display: none;
    background-color: rgba(168, 168, 168, 0.195);
    margin: 0 auto;
    width: 260px;
    border-radius: 5px;
    
}
.menu div:nth-child(3){
    border-bottom: 2px solid rgba(168, 168, 168, 0.195);;
    padding-bottom: 30px;
}
.productOptions li,
.companyOptions li,
.connectOptions li{
    padding: 10px 0;
}
.productOptions li:first-child,
.companyOptions li:first-child,
.connectOptions li:first-child{
    padding-top: 20px;
    margin-top: 20px;
}

.productOptions li:last-child,
.companyOptions li:last-child,
.connectOptions li:last-child{
    padding-bottom: 20px;
}



.menu div:last-child{
    display: flex;
    flex-direction: column;
}
.menu div:last-child a{
    margin: 0px auto;
    width: 130px;
    padding: 15px 0px;
}
.menu div:last-child a:last-child{
    background: linear-gradient(to right, $gradient-header-color-1, $gradient-header-color-2) !important;
    border-radius: 100px;
    color: white;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 140px;
    font-family:'Overpass';

}

.header-content div h1{
    font-size: 2rem;
    color: $light-font-color;
    margin-bottom: 15px;
    font-weight: 600;
}

.header-content div p{
    color: $light-font-color;
    margin-bottom: 50px;
}

.header-content div a{
    color: $light-font-color;
    text-decoration: none;
    margin: 0 5px;
    padding: 15px 15px;
    font-weight: 600;
    border-radius: 40px;
    font-size: 1rem;
    font-family: 'Ubuntu';
    border: 3px solid white;
}

.header-content div a:first-child{
    background-color: white;
    color: $first-color;
}
.header-content div a:first-child:active{
    background-color: $second-color;
    color: white;
}

.header-content div a:last-child:active{
    background-color: white;
    color: $second-color;
}

main{
    text-align: center;
}


main .segment-3{
    display: flex;
    align-items: center;
    flex-direction: column;
}
main .segment-3 img{
    width: 130%;
    margin-bottom: $margin-bottom-2;

}
main .segment-1{
    display: flex;
    flex-direction: column;
    align-items: center !important;
}
main .segment-1 div:nth-child(2) img{
    margin: 0 auto;
}

main .segment-1 div:nth-child(2),
main .segment-1 div:nth-child(3),
main .segment-3 div{
    margin: $global-side-gap;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: $margin-bottom-2;
}

main .segment-1 div:nth-child(4) p{
    padding-bottom: 180px
}

main section div h2{
    @include main-style-h2;
    margin-bottom: $margin-bottom-3;
}

main section div h3,
main section h3{
    @include main-style-h3;
    margin-bottom: $margin-bottom-3;
}



main section div p{
    @include main-style-paragraph
}

main section{
    margin-bottom: $margin-bottom-1;
}

main section div{
    margin-bottom: $margin-bottom-2;
}

.invisible-none{
    display: none;
}

main .segment .desktop{
    display: none;
}

main .segment-2{
    border-radius: 0px 100px 0px 100px;
    padding: $global-side-gap;
    background: url(images/bg-pattern-circles.svg), linear-gradient(to bottom, $gradient-main-color-1 50%, $gradient-main-color-2);
    background-color: $gradient-main-color-2;
    background-position-x: 50%;
    background-position-y: -230px ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 590px;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 145px;
}

main .segment-2 div h2{
    margin-bottom: $margin-bottom-3;
}
main .segment-2 div h2,
main .segment-2 div p{
    color: $light-font-color;

}
main .segment-2 div p{
    line-height: $global-paragraph-line-height;
}




main .segment-2 img{
   position: absolute;
   transform: translateX(-50%);
   left: 50%;
   width: 100%;
   top: -180px;
}

footer {
    background-color: $sixth-color;
    border-radius: 0px 100px 0px 0px;
    text-align: center;
    padding-top: 60px;
}
footer a img {
    margin-bottom: 20px;
}
footer div ul li{
    list-style: none;
    margin-bottom: 10px;
    
}
footer div h4 {
    @include footer-style-h4
}


footer div ul li a{
    @include footer-style-menu;
}

footer div ul li a:active{
    text-decoration: underline;
}
.attribution,
.attribution a {
    color: white;
    padding: 25px 0;
}


@media only screen and (min-width: 940px){
    body{
        width: 100%;
        overflow-x: hidden;
    }
    header{
        background: url(images/bg-pattern-intro-desktop.svg), linear-gradient(to right, $gradient-header-color-1, $gradient-header-color-2);
        border-radius: 0px 0px 0px 100px;
        background-repeat: no-repeat;
        background-position: 20% 50%;
        height: 100vh;
        margin-bottom: $margin-bottom-1;
        padding-top: 0;
        padding: $global-desktop-side-gap;
        
    }
    .navbar {
    display: flex;
    position: static;
    margin: 0;
    justify-content: space-between;
    padding-top: 35px;
    align-items: center;
    
    }

    header .navbar > div{
        display: block;
    }
    
    .menu div:nth-child(1) > a,
    .menu div:nth-child(2) > a,
    .menu div:nth-child(3) > a,
    .navbar nav div:nth-child(1) img,
    .navbar nav div:nth-child(2) img,
    .navbar nav div:nth-child(3) img,
    .productOptions,
    .companyOptions,
    .connectOptions{
        text-align: center;
        justify-content: center;
        position: relative;
        right: calc(100vw - 950px);
        padding-left: 35px;
    }

  
    
    .navbar nav div:nth-child(1) img,
    .navbar nav div:nth-child(2) img,
    .navbar nav div:nth-child(3) img{
        padding-left: 10px;
        color: white !important;
    }

    .menu div:nth-child(3){
        border: 0;
    }

    .menu{
    display: flex;
    background-color: transparent;
    box-shadow: 0 0 0;
    position: static;
    transform: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 620px;
    }
    .menu div > div{
        flex-direction: row;
    }
    .menu div{
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .menu div:last-child{
        display: flex;
        flex-direction: row;
    }
    .menu div:last-child a {
        padding: 10px 20px;

    }
    .menu div:last-child a:last-child{
        color: $first-color;
        background: white !important;
    }
    .menu div{
        margin: 0;
        padding: 0 !important;
    }
    .menu-toggle{
        display: none;
    }
    .menu div > a{
        color: white;
    }
    .menu div > a:active{
        text-decoration: underline;

    }
    .menu div ul li a{
        font-weight: 500;
    }
    .menu div ul li a:active{
        font-weight: bolder;
        color: black;
    }
    .menu div a img{
       padding-left: 20px;
    }
    .productOptions,
    .companyOptions,
    .connectOptions {
    padding: 20px 20px;
    background-color: white;
    position: absolute;
    width: 150px;
    }
    .menu div ul li{
        text-align: left;
    }
    .productOptions li:first-child,
    .companyOptions li:first-child,
    .connectOptions li:first-child{
        padding-top: 0;
        margin-top: 0;
    }
    .productOptions li:last-child,
    .companyOptions li:last-child,
    .connectOptions li:last-child{
        padding-bottom: 0;
    }
    
    .productOptions,
    .companyOptions,
    .connectOptions{
        top: 80px;
    }
    .productOptions{
        transform: translateX(-550px);
    }
    .companyOptions{
        transform: translateX(-435px);
    }
    .connectOptions{
        transform: translateX(-310px);
    }

    main .segment-1 div:nth-child(4) p{
        padding: 0px !important
    }
    header div .arrow-dark{
        display: none;
    }
    header div .arrow-light{
        display: block;
    }

    .header-content{
        margin-top: 200px;
    }
    .header-content div h1{
        font-size: 3.5rem;
    }
    .menu div a:focus{
        color: white;
    }
    main .segment .desktop{
        display: block;
    }
    main .segment .mobile{
        display: none !important;
    }

    .segment-1{
        display: grid !important;
        margin-bottom: 350px;
        margin-top: 100px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 150px 250px 250px;
        text-align: left;
        grid-template-areas:
        "heading heading"
        "paragraph1 img"
        "paragraph2 img";
        
    }
    .segment-1 div:nth-child(1){
        grid-area: heading;
        text-align: center !important;
        width: 100vw;
    }
    .segment-1 div:nth-child(2){
        grid-area: img;
        padding-top: 100px;
    }

    .segment-1 div:nth-child(1) h3{
        font-size: 2.5rem;
    }
    .segment-1 div:nth-child(2) img{
        width: 160%;
        padding-right: $global-desktop-side-gap-one-sided;

    }
    .segment-1 div:nth-child(3){
        grid-area: paragraph1;
        margin-left: $global-desktop-side-gap-one-sided !important;
        margin: 0;
        padding-top: 100px;
    }
    .segment-1 div:nth-child(4){
        grid-area: paragraph2;
        margin-left: $global-desktop-side-gap-one-sided;

    }
    main .segment-1 div:nth-child(4) p{
        padding: 0px;
    }

    main .segment-2 img{
        width: calc(40vw - 5%);
        left: 25%;
        top: -80px;
    }

    main .segment-2 div{
        text-align: left;
        padding-left: 40%;
        margin: $global-desktop-side-gap-one-sided;
    }

    main .segment-2{
        background: url(images/bg-pattern-circles.svg), linear-gradient(to right, hsl(237, 17%, 21%) 50%, hsl(237, 23%, 32%));
        background-color: hsl(237, 23%, 32%);
        height: 350px;
        background-position-x: -220px;
        background-position-y: 80%;
        background-size: none;
        background-repeat: no-repeat;
        padding: 0;
    }
}
